
/* 1. Configuración base */
body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif; /* Una fuente más acorde a la época */
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todo el contenido */
    color: rgba(0, 0, 0, 0.958); /* Texto blanco para resaltar */
}

/* 2. EL FONDO (IMAGEN) */
body::before {
    content: "";
    position: fixed; /* Fixed para que al bajar (scroll) el fondo no se acabe */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* IMPORTANTE: '../' significa "sal de la carpeta css y busca el archivo" */
    /* Si tu imagen es PNG, cambia .jpg por .png aquí abajo: */
    background-image: url('../img/sable\ y\ bayoneta\ \ 2.png'); 
    
    background-size: 90% 90%; /* Que ocupe todo el fondo */
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px); /* El desenfoque para que se lea el texto */
    transform: scale(1.1); /* Para quitar bordes blancos */
    z-index: -1; /* Se va al fondo */
}

/* 3. CAJAS DE TEXTO (Para que se lea bien sobre la pintura) */
.contenedor-texto {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semitransparente */
    padding: 20px;
    margin: 20px;
    border-radius: 8px; /* Bordes redondeados */
    width: 80%; /* Que ocupe el 80% del ancho */
    max-width: 800px; /* Pero que no sea gigante en pantallas grandes */
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    border: 1px solid rgba(255, 255, 255, 0.2); /* Un borde sutil elegante */
}

/* Estilos extra para tus títulos */
h3, h4, h5 {
    text-align: center;
    color: #170fad; /* Un color dorado muy napoleónico */
}

ul, ol {
    margin-left: 20px;
}



footer {
    background-color: #000000; 
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    width: 100%; 
    margin-top: auto;
    box-sizing: border-box;
}

footer p {
    margin: 0;
}